In [1]:
import pandas as pd
#pandas is a library and it contains the functions related to the database
#importing the functions from the library

In [2]:
dataset=pd.read_csv("salary_Data.csv")
#dataset is called and assigned to the variable

In [3]:
dataset
#viewing the dataset

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [4]:
#assigning the independant variable
independent=dataset[["YearsExperience"]]
#Viewing the variable
independent

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

In [5]:
#assigning the dependant variable
dependent=dataset[["Salary"]]
#viewing the variable
dependent

      Salary
0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
5    56642.0
6    60150.0
7    54445.0
8    64445.0
9    57189.0
10   63218.0
11   55794.0
12   56957.0
13   57081.0
14   61111.0
15   67938.0
16   66029.0
17   83088.0
18   81363.0
19   93940.0
20   91738.0
21   98273.0
22  101302.0
23  113812.0
24  109431.0
25  105582.0
26  116969.0
27  112635.0
28  122391.0
29  121872.0

In [8]:
#spliting the test set and training set from the SKlearn library
#calling the imported function
#independent is input and dependent is output variable
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(independent, dependent, test_size=0.30, random_state=0)

In [11]:
#importing the LinearRegression from the sklearn library
from sklearn.linear_model import LinearRegression
#assigning the non parameterized function for regressor
#LinearRegression is a class, all the functions under the LinearRegression will be assigned to regressor
regressor=LinearRegression()
#calling the fit function/method from the regressor by inserting the input (x_train) and output (y_train) for training set 
regressor.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [12]:
#assigning the variable for calculating the weight. Weight is saved in the name of regressor.coef_
weight=regressor.coef_
#calling the variable
weight

array([[9360.26128619]])

In [13]:
#assigning the variable for bais. Bais is saved in the name of regressor.intercept_
bais=regressor.intercept_
#calling the variable
bais

array([26777.3913412])

In [14]:
#creating the variable. Here "predict" is the function for application and "x_test" is the input data.
y_pred=regressor.predict(X_test)

In [16]:
#To find out the r_score value, importing the r2_score from the sklearn library by using the function
from sklearn.metrics import r2_score
#creating the variable for r_score using the actual (y_test) and predicted (y_pred) output
r_score=r2_score(y_test,y_pred)

In [17]:
#To run the function
r_score

0.9740993407213511

In [18]:
#saving the model. import from pickle library
import pickle
#assigning the filename and saving it in the pickle format using ".sav" as extension
filename="finalized_model_linear.sav"

In [19]:
#inserting the model to filename. All the models are saved under "regressor" so using this term to create the file. th term "wb" means write binary.
#model saved
pickle.dump(regressor,open(filename,'wb'))

In [20]:
#to load the saved model
#rb means read binary
loaded_model=pickle.load(open("finalized_model_linear.sav",'rb'))
#assigning the variable for model prediction
result=loaded_model.predict([[13]])

In [21]:
#calling the output
result

array([[148460.78806172]])